body {
    background: #150485;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #150485, #590995);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #150485, #590995);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#file {
    display: none;
}
#voices{
    background-color: #590995;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 40vh;
}

.controller {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    height: 10vh;
}

.slider {
    display: grid;
    grid-template-columns: 20% 80%;
}

.output {
    overflow: auto;
    height: 43vh;
    color: white;
    margin-top: 20px;
}
#import{
    color: white;
}
button {
    background-color: #590995;
}
p{
    color: white;
}